doctype html
html
	head
		title Autohub
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(charset='UTF-8')
		link(rel='stylesheet', href='#{staticRoot}/css/main.css')
		
	body
		header
			a(href="#").logo
			nav.mobile-nav
				button(href="#",style="display: block").close-logo
		main
			.content
				figure.preview
					img(src="#{staticRoot}/img/img_popup.png", alt="")
					figcaption
						h3 Alfa Romeo MiTo
						p 2010 год выпуска
						P Пробег 139 087км
						p Бензин 1.4 л
						p Механика
						p Передний привод
						p.price 9450$
						hr(color='#D8D8D8', size='0')
						p Кондиционер
						p.striked Кожаный салон
						p Легкосплавные диски
						p.striked Ксенон
						p.striked Парктроник
						p.striked Подогрев сидений
						p Система контроля стабилизации
						p Навигация
						p.striked Громкая связь
						hr(color='#D8D8D8', size='0')
						p Автомобиль для любителей быстрой, экстремальной езды с экономичным расходом топлива, 6-ти мкл,					три режима езды, 155 л.с. л/д 18, салон-карбон, дожим стекол, USB с поддержкой МП3, Блютуз, Круиз-контроль, двухзонный климат, парктроник, пригнана из Швейцарии, сервисные документы
						hr(color='#D8D8D8', size='0')
						.contact
							span.phone-number +375(29) 123-45-67
							span.phone-logo
						hr(color='#D8D8D8', size='0')
						p Екатерина
		footer
			&copy; Автохаб 2016
		script(src='#{staticRoot}/scripts/jquery-2.2.0.min.js')
	




						

						
