doctype html
html
	head
		title Autohub
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(charset='UTF-8')
		link(rel='stylesheet', href='#{staticRoot}/css/main.css')
		
	body
		header
			h1.logo АВТОХАБ
			nav.mobile-nav
				a(href="#").add-logo
				a(href="#").filter-logo
				a(href="#").close-logo
		aside.filter-menu
			menu.filter
				ul.price-list-filter
					li.list-header Цена
					li от 5 000 $
						a(href="#").down-logo
					li до 70 000 $
						a(href="#").down-logo
				ul.mark-list-filter
					li.list-header Марка
					li.checked Alfa Romeo 
						a(href="#").check
					li.checked Audi
						a(href="#").check
					li.checked BMW
						a(href="#").check
					li Chevrolet
					li Citroen
					li Fiat
					li.checked Ford
						a(href="#").check
					li Honda
					li Hyindai
					li Infiniti


		main
			.content
				figure
					.car
						img(src="{staticRoot}/img/img_1.png", alt="img1")
						p.car-price 39 500$
					figcaption
						p.car-name Mercedez
						p.car-info
							span 2015
							span 47 000 kм
							span Бензин 3.5
							span А
				figure
					.car
						img(src="{staticRoot}/img/img_2.png", alt="img1")
						p.car-price 2500$
					figcaption
						p.car-name Mercedez
						p.car-info
							span 2015
							span 47 000 kм
							span Бензин 3.5
							span А
				figure
					.car
						img(src="{staticRoot}/img/img_3.png", alt="img1")
						p.car-price 2500$
					figcaption
						p.car-name Mercedez
						p.car-info
							span 2015
							span 47 000 kм
							span Бензин 3.5
							span А
				figure
					.car
						img(src="{staticRoot}/img/img_4.png", alt="img1")
						p.car-price 2500$
					figcaption
						p.car-name Mercedez
						p.car-info
							span 2015
							span 47 000 kм
							span Бензин 3.5
							span А
				figure
					.car
						img(src="{staticRoot}/img/img_5.png", alt="img1")
						p.car-price 2500$
					figcaption
						p.car-name Mercedez
						p.car-info
							span 2015
							span 47 000 kм
							span Бензин 3.5
							span А
				figure
					.car
						img(src="{staticRoot}/img/img_6.png", alt="img1")
						p.car-price 2500$
					figcaption
						p.car-name Mercedez
						p.car-info
							span 2015
							span 47 000 kм
							span Бензин 3.5
							span А
				figure
					.car
						img(src="{staticRoot}/img/img_7.png", alt="img1")
						p.car-price 2500$
					figcaption
						p.car-name Mercedez
						p.car-info
							span 2015
							span 47 000 kм
							span Бензин 3.5
							span А
				figure
					.car
						img(src="{staticRoot}/img/img_8.png", alt="img1")
						p.car-price 2500$
					figcaption
						p.car-name Mercedez
						p.car-info
							span 2015
							span 47 000 kм
							span Бензин 3.5
							span А
				figure
					.car
						img(src="{staticRoot}/img/img_9.png", alt="img1")
						p.car-price 2500$
					figcaption
						p.car-name Mercedez
						p.car-info
							span 2015
							span 47 000 kм
							span Бензин 3.5
							span А
				
		script(src='#{staticRoot}/scripts/jquery-2.2.0.min.js')
		script(src='#{staticRoot}/scripts/my_scripts.js')
	




						

						
